<h2>List</h2>
<div class="row">
  {{#each model as |hero|}}
    <div class="col-md-4">
      {{#hero-item item=hero}}
        {{#link-to 'heroes.edit' hero.id class='btn btn-success btn-xs'}}Edit{{/link-to}}
        <button class="btn btn-danger btn-xs" {{action 'deleteHero' hero}}>Delete</button>
      {{/hero-item}}
    </div>
  {{/each}}
</div>
