<div class="page-header">
  <h1>Why did I build this? <small>A short introduction</small></h1>

  <p>I wanted to learn EmberJS, and wanted to build a small web app on my own, from the scratch. Hence I created this superhero database!</p>
</div>
{{outlet}}
