<div class="well">
  <ul class="nav nav-tabs">
    {{#link-to 'heroes.index' tagName="li"}}<a href="">List All</a>{{/link-to}}
    {{#link-to 'heroes.new' tagName="li"}}<a href="">Add new</a>{{/link-to}}
  </ul>
</div>

{{outlet}}
